tensorflow
Keras-Preprocessing 
matplotlib              
matplotlib-inline       
numpy                   
keras                   
seaborn                
scikit-learn  
scikit-image          
Pillow
opencv-python
av
deepface
boto3
rmn