tensorflow
Keras-Preprocessing 
matplotlib              
matplotlib-inline       
numpy                   
keras                   
seaborn                
scikit-learn            
Pillow
opencv-python
av
streamlit_webrtc
deepface
py-feat